{% extends 'base.html' %}

{% block content %}

<section class="main-page-section">
    <h1>Welcome to Sports Scoring App</h1>
    <h3>About this app</h3>

    <h4><span>Project Brief</span></h4>
    <p>
        Build an app that lets a sports fan keep track of their favourite sports league. <br>

        As a huge fan of [your sport], you want to stay up to date with the league. <br>
        You're interested to see which team leads the table and who won the latest games/matches/fixtures/bouts/…
    </p>

    <h4><span>MVP</span></h4>
    <p>The app should allow the user to create, edit and remove teams in the league <br>
        The user should be able to create new games<br>
        There should be a way to display all the games for a team and all the teams involved in a game<br>
        The app should display if a game was won or lost
    </p>

    <h4><span>Possible Extensions</span></h4>
    <p>
        Create a league table to see who is on top of the league <br>
        Add players to teams and let them have game stats (points won, fouls, etc.) <br>
        Anything else you can think of
    </p>

    <h4><span>Scott's Extensions</span></h4>
    <p>
        Additional stats in the league table for games won, lost, drawn, goals for, goals against, goal difference
        <br>
        Add a team form indicator column in table for last 5 matches (WWWLLDD) <br>
        Be able to edit matches and update results
    </p>

</section>

{% endblock %}