{% extends 'base.html' %}

{% block content %}

<!-- Display teams in the league -->
<br>
<table>
    <thead>
        <tr>
            <th>Pos</th>
            <th>Team Name</th>
            <th>Played</th>
            <th>Won</th>
            <th>Drawn</th>
            <th>Lost</th>
            <th>For</th>
            <th>Against</th>
            <th>GD</th>
            <th>Points</th>
            <th>Form</th>
        </tr>
    </thead>
    <tbody>
        <!-- {% for team in teams %}
        <p>{{loop.index0}}</p>
        {% endfor %} -->
        {% for team in teams %}
        <tr class="table-league">
            <td>{{loop.index}}</td>
            <td class="table-col-teams">{{team.team_name}}</td>
            <td>
                {{stats[loop.index0][team.id]}}
            </td>
            <td>
                {{games_won[loop.index0][team.id]}}
            </td>
            <td>
                {{games_drawn[loop.index0][team.id]}}
            </td>
            <td>
                {{games_lost[loop.index0][team.id]}}
            </td>
            <td>{{goals_for[loop.index0][team.id]}}</td>
            <td>{{goals_against[loop.index0][team.id]}}</td>
            <td>{{goals_for[loop.index0][team.id] - goals_against[loop.index0][team.id]}}</td>
            <td class="table-col-points">
                <!-- Points from games won and games drawn  -->
                <!-- {{games_won[loop.index0][team.id]*3 + games_drawn[loop.index0][team.id]*1}} -->
                {{league_points[loop.index0][team.id]}}
            </td>
            <td class="table-col-form">
                {{games_form[loop.index0][team.id][-5:]}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="11"></td>
        </tr>
        <tr>
            <td colspan="11"></td>
        </tr>
        <tr>
            <td colspan="11"></td>
        </tr>
        <tr>
            <td colspan="11">Last updated: {{today}}</td>
        </tr>
        <tr>
            <td colspan="11"></td>
        </tr>
    </tfoot>
</table>

{% endblock %}